@CHARSET "UTF-8";
/*id='#' class='.' */
/*在css样式表中书写时，id选择符前面应该加前缀符号‘#’，而class选择符前面应该加前缀符号'.' */
/*在实际应用时，class更多的被应用到文字版块以及页面修饰等方面，而id更多地被用来实现宏伟布局和设计包含块，或包含框的样式。 */
body{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:#C1C0BF
}

/*大容器行1:菜单栏*/
#line1{
    width:1300px; 	/*分辨率改变更改width*/
    height:50px;
    position:fixed;
}
#headbgline{
    width:100%;
    margin:0px;
    height:40px;
    background-color:#171717;

}
#nav{
    height:10px;
    padding:0px;
    width:750px;
    float:left;
    margin-left:20%;
    position:relative;
    top:-15%;
}
#nav li{
    display:inline;
    list-style-type:none;
    margin-right:50px;
    color:#EBEBEB;
}
#nav-login{
    height:10px;
    margin:0px;
    padding:0px;
    width:200px;
    float:right;
    margin-right:-1%;
    position:relative;
    top:-38%;

}
#nav-login li{
    display:inline;
    overflow-x:hidden;//原hidden
list-style-type:none;
    margin-right:10px;
    color:#EBEBEB;
}
/*大容器行2:发表新帖*/
#line2{
    width:1300px;	/*分辨率改变更改width*/
    height:80px;

}
/*发表新帖*/
#publish{
    height:23px;
    width:260px;
    margin-top:3.8%;
    margin-right:4%;
    text-align:center;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    color:#FFF;
    background-color:#514D8A;
    float:right;
}

/*大容器行3:表格及右侧公告*/
#line3{
    width:1300px;		/*分辨率改变更改width*/
    height:50px;
}

/*右侧公告*/
#notice{
    width:260px;
    height:300px;
    margin-right:4%;
    text-align:center;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:right;
}

/*表单*/
/*表格高50px,一页最多10行*/
#table{
    width:700px;
    height:700px;
    margin-left:20%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#C1C0BF;
    float:left;
}
/*table样式*/
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;

}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;

}
table.gridtable td {
    border-width: 1px;
    width:800px;
    height:50px;
    padding: 8px;
    border-style:groove;
    border-color: #666666;
    background-color:#FFF;
    border-top-style:none;

}
/*表格总div*/
.td-row{
    width:700px;
    height:50px;
}
/*表格标题div*/
.title-row{
    width:700px;
    font-size:18px;
    float:left;

}
/*表格--作者时间观看数div*/
.small-row{
    width:700px;
    font-size:8px;
    float:left;
    margin-top:1%;
}
.small-row-left{
    font-size:10px;
    float:left;
}
.small-row-right{
    margin-right:5%;
    float:right;
}


/*显示页数div大容器*/
.line3-page{
    margin-top:0.5%;
    width:700px;		/*分辨率改变更改width*/
    height:30px;
}
/*显示页数div*/
.page{
    float:left;
    margin-left:35%;
}
table.page{
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.page th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.page td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
/*眼睛图标尺寸*/
.ico_eye{
    width:15px;
    height:15px;
}
/*顶部按钮样式*/

.nav-input{
    background-color:black;
    color:white;
    border:none;
    font-size:15px;
    outline:none;
    font-family: verdana,arial,sans-serif;
}
/*超链接样式*/
.topic-a{
    text-decoration:none;
    color:white;

}
/*发帖div*/
.post{
    width:900px;
    height:800px;
    margin-top:1%;
    margin-left:15%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}
.post-title{
    margin-top:2%;
    margin-left:4%;
    font-size:25px;
    float:left;
}
.post-hr{
    margin-top:6.5%;
    margin-left:-11%;
    float:left;
    width:800px;
}
.post-select{
    margin-left:4%;
    margin-top:10%;
}
.post-select select{
    border-radius:5px;/*div边款圆角矩形*/
    width:150px;
    height:40px;
    font-size:18px;
    padding: 0 1%;
}
.post-title-textarea{
    margin-left:4%;
    margin-top:2%;

}
.post-title-textarea input{
    border-radius:5px;/*div边款圆角矩形*/
    width:800px;
    height:28px;
    padding: 0 1%;
    font-size:18px;
    border-color:#CCC;
}
.post-textarea{
    float:left;
    margin-top:2%;
    margin-left:4%;
}
.post-textarea	textarea{
    border-radius:5px;/*div边款圆角矩形*/
    font-size:18px;
    width:805px;
    height:300px;
    padding: 0 1%;
    border-color:#CCC;
    resize:none;
}
.post-submit{
    border-radius:5px;/*div边款圆角矩形*/

    margin-right:5%;
    float:right;
    width:80px;
    height:35px;
    background-color:#000040;
}
.post-submit-input{


    margin-left:15%;
    float:left;
}
.post-submit-input input{

    background-color:#000040;
    color:white;
    border:none;
    font-size:19px;
    outline:none;
    font-family: verdana,arial,sans-serif;
}
/*登陆div*/
.login{
    width:700px;
    height:400px;
    margin-top:5%;
    margin-left:20%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}
.login-user{
    margin-top:10%;
    margin-left:30%;
    font-size:20px;
    float:left;

}
.login-input{
    border-radius:5px;/*div边款圆角矩形*/
    width:200px;
    height:28px;
    font-size:20px;
    border-color:#CCC;

}
.login-pwd{
    margin-top:5%;
    margin-left:30%;
    font-size:20px;
    float:left;

}
.check{
    margin-top:5%;
    margin-left:30%;
    font-size:20px;
    float:left;
}
.check input{
    border-radius:5px;/*div边款圆角矩形*/
    width:100px;
    height:28px;
    font-size:20px;
    border-color:#CCC;
}
.check-png{
    margin-top:6%;
    margin-right:35%;

    float:right;
}
.login-post{
    border-radius:5px;/*div边款圆角矩形*/
    margin-top:13%;
    margin-left:-28%;
    float:left;
    width:80px;
    height:35px;
    background-color:#000040;
}
.login-post-input{
    margin-top:5%;
    margin-left:15%;
    float:left;
}
.login-post-input input{
    background-color:#000040;
    color:white;
    border:none;
    font-size:19px;
    outline:none;
    font-family: verdana,arial,sans-serif;
}

.register{
    border-radius:5px;/*div边款圆角矩形*/
    margin-top:13%;
    margin-left:-14%;
    float:left;
    width:80px;
    height:35px;
    background-color:#000040;
}
.register-input{

    margin-top:5%;
    margin-left:15%;
    float:left;

}
.register-input input{

    background-color:#000040;
    color:white;
    border:none;
    font-size:19px;
    outline:none;
    font-family: verdana,arial,sans-serif;

}
/*主贴页面内容div*/
.topic-main{
    width:700px;
    /*主贴正文高度 不够修改*/
    height:850px;
    margin-top:5%;
    margin-left:20%;
    overflow:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}

.topic-title{
    font-size:20px;
    margin-top:5%;
    margin-left:6%;
}
.topic-small-row{
    width:700px;
    font-size:8px;
    float:left;
    margin-left:-1%;
    margin-top:1%;
}
.topic-small-row-left{
    width:500px;
    font-size:10px;
    margin-top:1%;
    margin-left:6%;
    float:left;
}
.topic-small-row-left span{
    margin:1%;

}
.topic-hr{
    margin-top:4%;
    margin-left:2%;
    float:left;
    width:660px;
}
.topic-text{
    width:650px;
    /*主帖正文高度 不够修改*/
    height:550px;
    margin-left:2%;
    margin-top:11%;

}
/*回帖内容div*/
.reply{
    width:700px;
    height:300px;
    margin-top:1%;
    margin-left:20%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}
.reply-hr{
    margin-top:2%;
    margin-left:2%;
    float:left;
    width:660px;
}
/*表单div*/
.replytable{
    width:700px;
    height:700px;
    margin-left:1%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}
/*表格样式*/
.replytable.replygridtable{
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

.replytable.replygridtable th{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color:#FFF;
}

.replytable.replygridtable td{
    border-width: 1px;
    width:800px;
    height:20px;//50
padding: 8px;
    border-style:groove;
    border-color: #666666;
    background-color:#FFF;
    border-style:none;
}

/*作者日期div*/
.reply-row-1{
    width:700px;
    font-size:12px;
    float:left;
    margin-top:4%;

}
/*表格--作者时间观看数div*/
.reply-row-2{
    width:700px;
    font-size:8px;
    float:left;
    margin-top:1%;
}
.reply-row-2-1{
    margin-left:1%;
    font-size:18px;
    float:left;
}
/*发送回帖*/
.reply-post{
    width:700px;
    /*主贴正文高度 不够修改*/
    height:150px;
    margin-top:1%;
    margin-left:20%;
    margin-bottom:1%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}
.reply-post-author{
    font-size:13px;
    margin-top:3%;
    margin-left:3%;
}
.reply-post-text{
    margin-top:3%;
    margin-left:3%;
    float:left;
}
.reply-post-text input{
    border-radius:5px;/*div边款圆角矩形*/
    width:650px;
    height:28px;
    font-size:20px;
    border-color:#CCC;
}
.reply-post-button{
    border-radius:5px;/*div边款圆角矩形*/
    margin-top:10%;
    margin-left:-11%;
    float:left;
    width:80px;
    height:35px;
    font-color:#FFF;
    background-color:#000040;
}


.reply-post-button input{
    background-color:#000040;
    margin-left:15%;
    margin-top:4%;
    color:white;
    border:none;
    font-size:19px;
    outline:none;
    font-family: verdana,arial,sans-serif;
}
/*注册界面*/
.div-register{
    width:700px;
    height:200px;
    margin-top:40px;
    margin-left:25%;
    border-width:1px;
    border-color:#CCEE;
    border-style:double;
}
div-register ul{
    list-style: none; /*设置不显示项目符号*/
    margin: 0px; /*设置外边距*/
    padding: 5px; /*设置内边距*/
}

div-register li{
    padding: 5px; /*设置内边距*/

}
/*用户管理界面*/

.userdata{
    width:700px;
    height:300px;
    margin-top:5%;
    margin-left:25%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}
.userdata-hello{
    margin-top:8%;
    margin-left:8%;
}
.userdata-option{
    margin-top:8%;
    margin-left:2%;
}
.userdata-option li{
    display:inline;
    list-style-type:none;
    margin-right:50px;
}
/*修改密码界面*/
.userdata-pwdAlter{
    margin-top:10%;
    margin-left:28%;
}

/*注册css*/
.login1{
    width:780px;
    height:360px;
    margin-top:5%;
    margin-left:25%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}

.login-user1{
    margin-top:10%;
    margin-left:5%;
    font-size:20px;
    float:left;

}
.login-user2{
    margin-top:10%;
    margin-right:5%;
    font-size:20px;
    float:right;

}
.login-pwd1{
    margin-top:2%;
    margin-left:5%;
    font-size:20px;
    float:left;

}
.login-pwd2{
    margin-top:2%;
    margin-right:5%;
    font-size:20px;
    float:right;

}
.login-pwd3{
    margin-top:2%;
    margin-right:12%;
    font-size:20px;
    float:right;

}

.login-post1{
    border-radius:5px;/*div边款圆角矩形*/
    margin-top:5%;
    margin-left:38%;
    float:left;
    width:200px;
    height:50px;
    background-color:#000040;
}

.login-post-input1 input{
    margin-top:5%;
    margin-left:32%;
    background-color:#000040;
    color:white;
    border:none;
    font-size:19px;
    outline:none;
    font-family: verdana,arial,sans-serif;
}

.login-input1{
    border-radius:5px;/*div边款圆角矩形*/
    width:150px;
    height:28px;
    font-size:20px;
    border-color:#CCC;

}

/*个人资料界面*/
.userdata-textarea{
    margin-top:1%;
    margin-left:-2.5%;
}
.userdata-textarea textarea{
    border-radius:5px;/*div边款圆角矩形*/
    height:100px;
    width:200px;
    resize:none;
}
.userdata-textarea-div{
    width:700px;
    height:400px;
    margin-top:5%;
    margin-left:25%;
    overflow-x:hidden;
    border-radius:5px;/*div边款圆角矩形*/
    background-color:#FFF;
    float:left;
}


/*搜索栏*/
.search{
    height:10px;
    margin:0px;
    padding:0px;
    width:220px;
    float:right;
    margin-right:14%;
    margin-top:-1.8%;
}
.searchButton{
    margin-top:5%;
    margin-right:3%;
    float:right;
    width:100px;
    height:25px;
    color:white;

}
.searchButton input{
    width:30px;
    height:25px;
    color:white;
    background-color:#009;
    border:none;
}

.search input{
    border-radius:5px;/*div边款圆角矩形*/
    width:100px;
    height:18px;
    font-size:15px;
    border-color:#CCC;
    margin-top:10%;
}
